.cstr_sec {
    background: #EFEFEF;
    padding:88px 0 60px 0;
}
.cstmr_sucss_col1 {
    padding-right:50px;
    padding-top: 40px;
}
.cstmr_sucss_img {
    margin-top: 20px;
    width:100%;
    mix-blend-mode: darken;
}
.cstm_bdr{
    border-bottom: 1px dashed #313D47 !important;
}

.cstmr_subpara{

    margin: 55px 0px 20px 0px;
}


/*---------------------------------------------------------------- Mobile CSS */
@media only screen and (min-device-width: 320px) and (max-device-width: 600px) {

    .cstr_sec {
        padding: 60px 0 60px 0;
    }    
    .ovrview_sub_hd {
        padding-bottom: 14px !important;
    }
    .cstmr_sucss_col1 {
        padding-right: 20px;
        padding-top: 0px;
    }

}

/*---------------------------------------------------------------- Tab Screen 1 CSS */
@media only screen and (min-device-width: 601px) and (max-device-width: 991px) {

    .cstr_sec {
        padding: 60px 0 60px 0;
    }

    .cstmr_sucss_col1 {
        padding-top: 0px;
        padding-right: 0;
    }

    div#cstmer_fade {
        margin: auto;
    }

    .cstmr_sucss_img {
        width: 100%;
    }

}