.ovrview_sec{
    padding: 90px 0px 67px 0px;
}

.ovrview_div{
    background-color: #313D47;
    width: 500px;
    padding: 47px 65px 30px 45px;

}

.ovrview_col{
    padding: 30px 143px 0px 0px;
}
.pkr_ovw {
    padding-top: 0;
    margin-top: -5px;
}
.ovrview_sub_hd{
    color: #313D47;
    padding-bottom: 18px;
    border-bottom: 1px dashed #2BB04C;
}
.ovrview_subpara{
    margin: 27px 0px 20px 0px;
}
.ovrview_para{
    margin: 20px 0px 22px 0px;
}

.ovrview_subpoints{
    font-family: 'Barlow';
    font-weight: 600;
    font-size: 16px;
    line-height: 19.2px;
    align-items: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #F47920;
    margin-bottom: 10px;
    padding-bottom: 12px;
    border-bottom: 1px solid #ffffff1a;
    

}

.ovrview_subpoints_sub_heading{
    font-family: 'Barlow';
    font-weight: 600;
    font-size: 32px;
    line-height: 35.52px;
    text-transform: uppercase;
    margin-bottom:0px;
    color: #FFFFFF;
   
}

.ovr_lnd_area_spc{
    padding: 0px 0px 53px 0px;

} 
.prk_ovr_1 {
    margin-top: 85px;
}

.moretext_exp {
    display: none;
}
.exp_ov_btn {
    color: #313D47;
    cursor: pointer;
}
.exp_ov_btn:hover {
    color: #F47920;
}
.exp_sub_hd_animate {
    position: relative;
    overflow: hidden;
    float: left;
    height: 40px;
    width: 100%;
}
.exp_sub_hd_animate p{
    position: absolute;
    transform: translate(0px, 100px);
}

/*---------------------------------------------------------------- Mobile CSS */
@media only screen and (min-device-width: 320px) and (max-device-width: 600px) {
    
    .ovrview_sec {
        padding: 60px 0px 60px 0px;
    }
    .ovrview_col {
        padding: 0 14px;
    }
    .prk_ovr_1 {
        margin-top: 55px !important;
    }
    .ovrview_div {
        width: 100%;
        padding: 30px 20px;
    }
    .ovrview_subpoints {
        font-size: 14px;
        line-height: 14px;
    }
    .ovrview_subpoints_sub_heading {
        font-size: 19px;
        line-height: 20px;    
    }
    .ovr_lnd_area_spc {
        padding: 0px 0px 35px 0px;
    }
    .exp_col1 {
        margin-bottom: 50px;
    }
    .moreless_ttl {
        font-size: 14px;
    }
}

/*---------------------------------------------------------------- Tab Screen 1 CSS */
@media only screen and (min-device-width: 601px) and (max-device-width: 991px) {

    .ovrview_sec {
        padding: 60px 0px 60px 0px;
    }
    .ovrview_col {
        padding: 30px 40px 0px 15px;
        
    }
    .ovrview_subpoints {
        font-size: 13px;
        padding-bottom: 0;
    }
    .ovrview_div {
        width: 100%;
        padding: 40px 30px 40px 30px;
    }

    .ovr_lnd_area_spc {
        padding: 0px 0px 38px 0px;
    }

    .ovrview_subpoints_sub_heading {
        font-size: 22px;
    }
}


/*---------------------------------------------------------------- Tab Screen 2 CSS */
@media only screen and (min-device-width: 992px) and (max-device-width: 1080px) {
    .ovrview_col {
        padding-left:15px;
        padding-right:50px;
    }    
    .ovrview_div {
       width: 100%;
    }
    .ovrview_subpoints{
        font-size: 16px;
    }
    .ovrview_subpoints_sub_heading{
        font-size: 22px;
        line-height: 26.52px;
    }
    
}